<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'recs/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'recs/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'recs/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'recs/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'recs/site.webmanifest' %}">
    <title>{{ genre.name|title }}</title>
  </head>
  <body>
    <div id='write' class = 'is-node'>
        <h1>{{ genre.name|title }}</h1>
        {% if set_1 %}
            <h2>{{ set_1_description }}</h2>
            <ol>
            {% for game_pos in set_1 %}
                {% if forloop.counter == 1 %}
                    <li><a href={% url 'game' game_pos.game.steamid %}>{{ game_pos.game.name }}</a><strong><span style="color:gold">★</span></strong>: <span style='color:green'>${{ game_pos.game.price }}</span></li>
                {% elif forloop.counter == 2 %}
                    <li><a href={% url 'game' game_pos.game.steamid %}>{{ game_pos.game.name }}</a><strong><span style="color:#A9A9A9">★</span></strong>: <span style='color:green'>${{ game_pos.game.price }}</span></li>
                {% elif forloop.counter == 3 %}
                    <li><a href={% url 'game' game_pos.game.steamid %}>{{ game_pos.game.name }}</a><strong><span style="color:#A67D3D">★</span></strong>: <span style='color:green'>${{ game_pos.game.price }}</span></li>
                {% else %}
                    <li><a href={% url 'game' game_pos.game.steamid %}>{{ game_pos.game.name }}</a>: <span style='color:green'>${{ game_pos.game.price }}</span></li>
                {% endif %}
            {% endfor %}
            </ol>
        {% endif %}
        {% if set_1_community %}
            <ul>
            {% for game_pos in set_1_community %}
                <li><a href={% url 'game' game_pos.game.steamid %}>{{ game_pos.game.name }}</a><strong>👤</strong>: <span style='color:green'>${{ game_pos.game.price }}</span></li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if set_2 %}
            <h2>{{ set_2_description }}</h2>
            <ol>
            {% for game_pos in set_2 %}
                {% if forloop.counter == 1 %}
                    <li><a href={% url 'game' game_pos.game.steamid %}>{{ game_pos.game.name }}</a><strong><span style="color:gold">★</span></strong>: <span style='color:green'>${{ game_pos.game.price }}</span></li>
                {% elif forloop.counter == 2 %}
                    <li><a href={% url 'game' game_pos.game.steamid %}>{{ game_pos.game.name }}</a><strong><span style="color:#A9A9A9">★</span></strong>: <span style='color:green'>${{ game_pos.game.price }}</span></li>
                {% elif forloop.counter == 3 %}
                    <li><a href={% url 'game' game_pos.game.steamid %}>{{ game_pos.game.name }}</a><strong><span style="color:#A67D3D">★</span></strong>: <span style='color:green'>${{ game_pos.game.price }}</span></li>
                {% else %}
                    <li><a href={% url 'game' game_pos.game.steamid %}>{{ game_pos.game.name }}</a>: <span style='color:green'>${{ game_pos.game.price }}</span></li>
                {% endif %}
            {% endfor %}
            </ol>
        {% endif %}
        {% if set_2_community %}
            <ul>
            {% for game_pos in set_2_community %}
                <li><a href={% url 'game' game_pos.game.steamid %}>{{ game_pos.game.name }}</a><strong>👤</strong>: <span style='color:green'>${{ game_pos.game.price }}</span></li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if set_3 %}
            <h2>{{ set_3_description }}</h2>
            <ol>
            {% for game_pos in set_3 %}
                {% if forloop.counter == 1 %}
                    <li><a href={% url 'game' game_pos.game.steamid %}>{{ game_pos.game.name }}</a><strong><span style="color:gold">★</span></strong>: <span style='color:green'>${{ game_pos.game.price }}</span></li>
                {% elif forloop.counter == 2 %}
                    <li><a href={% url 'game' game_pos.game.steamid %}>{{ game_pos.game.name }}</a><strong><span style="color:#A9A9A9">★</span></strong>: <span style='color:green'>${{ game_pos.game.price }}</span></li>
                {% elif forloop.counter == 3 %}
                    <li><a href={% url 'game' game_pos.game.steamid %}>{{ game_pos.game.name }}</a><strong><span style="color:#A67D3D">★</span></strong>: <span style='color:green'>${{ game_pos.game.price }}</span></li>
                {% else %}
                    <li><a href={% url 'game' game_pos.game.steamid %}>{{ game_pos.game.name }}</a>: <span style='color:green'>${{ game_pos.game.price }}</span></li>
                {% endif %}
            {% endfor %}
            </ol>
        {% endif %}
        {% if set_3_community %}
            <ul>
            {% for game_pos in set_3_community %}
                <li><a href={% url 'game' game_pos.game.steamid %}>{{ game_pos.game.name }}</a><strong>👤</strong>: <span style='color:green'>${{ game_pos.game.price }}</span></li>
            {% endfor %}
            </ul>
        {% endif %}
        <center><a href="{% url 'index' %}">Back to Home</a></center>
    </div>
  </body>
</html>
