<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'recs/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'recs/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'recs/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'recs/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'recs/site.webmanifest' %}">
    <title>Submit New Game</title>
  </head>
  <body>
    <div id='write' class = 'is-node'>
        <h1>Submit New Game</h1>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form method='post'>
            {% csrf_token %}
            {{ form.as_p }}
        <input type='submit' name="done-submitting" value='Submit and Go To Game Page'>
        <input type='submit' name="another-submit" value='Submit Another'>
        </form>
        <center><a href="{% url 'index' %}">Back to Home</a></center>
    </div>
  </body>
</html>
